{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <!--Custom css-->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <!--Semantic UI-->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <title>Django Pandas Project - {% block title %}{% endblock title %}</title>
</head>
<body>
{% include 'navbar.html' %}
<div class="ui container">

        {% if messages %}
        {% for message in messages %}
        <div class="ui {{ message.tags }} message">
            <i class="close icon"></i>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

    {% block content %}
    {% endblock content %}
</div>

<script type="text/javascript" src="{% static 'main.js' %}"></script>
<!--type="text/javascript"-->
</body>
</html>