{% extends 'base.html' %}
{% load static %}
{% block title %} Login page {% endblock title %}

{% block content %}
{% if error_message %}
<div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
        {{ error_message }}
    </div>
</div>
{% endif %}
<h1>Login</h1>
<div class="block-center">
    <form action="" method="POST" class="ui form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="ui button positive mtop">Login</button>
    </form>
</div>
{% endblock content %}