{% extends 'base.html' %}
{% load crispy_forms_tags %}
<!--{% load static %}-->
{% block title %} Login page {% endblock title %}

{% block content %}
{% if error_message %}
<div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
        {{ error_message }}
    </div>
</div>
{% endif %}
<h2>Login</h2>
<div class="block-center">
    <form action="" method="POST" class="ui form">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="ui button positive mtop">Login</button>
    </form>
    <div class="mtop">
    <small class="text-muted mtop">Need An Accout?
        <a href="{% url 'register' %}">Sign Up Now</a></small>
    </div>
</div>
{% endblock content %}